@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply container mx-auto;
}

.glass {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
